.content{background:#fff;}

.nodisplay{display:none;}
/***supplier part***/
.article1{border:1px solid #c9c9c9;margin-bottom:30px;background:url(/resource/content/images/ucenter/supplier19.jpg) repeat-y 202px 0;}
.supplier{ width:1200px; margin:0 auto;}
.spL{float:left;width:220px;}
.atL{float:left;width:220px;}
.spR{float:right;width:975px;margin-bottom:15px;overflow:hidden;}
.spR1{float:left;width:975px;margin-left:0;display:inline;margin-bottom:15px;overflow:hidden;}

.spFocus{width:198px;margin:0 auto;padding:10px;line-height:21px;border:1px solid #c9c9c9;margin-bottom:10px;}
.spFocus strong{font-weight:bold;color:#d51b03;}
.spFocus a:hover{text-decoration:underline;}
.spFocus p{display:block;overflow:hidden;}
.spFocus .p0{margin:5px 0;}
.spFocus .p2{margin:5px 0;text-align:center;}

.spFocus .p1 span{float:left;width:120px;}
.spFocus .p1 strong a{float:right;width:25px;text-align:right;margin-right:4px;display:inline;text-decoration:underline;}
.spFocus .p1 strong a:hover{text-decoration:underline;}

.spFocus .p1Trim1{width:198px;}
.spFocus .p1Trim1 span{float:left;width:198px;}

.spL h2{font-weight:bold;}
.atL h2{font-weight:bold;background:#e2e2e2;height:32px;line-height:32px;text-indent:15px;}
.spColumn{width:218px;margin:0 auto;line-height:21px;border:1px solid #c9c9c9;margin-bottom:10px;}
.spColumn2{width:219px;margin:0 auto;line-height:21px;border-right:0;border:0px;}
.spColumn h2{text-indent:15px;background:#fcebf1;border-bottom:1px solid #b9003c;line-height:25px;height:25px;}
.spColumn .block1{padding-bottom:5px;}
.spColumn2 .block1{padding-bottom:0;}
.spColumn .block1 .d1{padding:10px;width:198px;}
.spColumn2 .block1 .d1{padding:10px;width:198px;}
.spColumn .block1 a{color:#5f5f5f;background:url(/resource/content/images/ucenter/supplier4.jpg) no-repeat 7px center;text-indent:22px;display:block;}
.spColumn .block1 a:hover{color:#cf3241;background:url(/resource/content/images/ucenter/supplier8.jpg) no-repeat 7px center;}
.spColumn .block1 a.cur{color:#cf3241;background:url(/resource/content/images/ucenter/supplier8.jpg) no-repeat 7px center;}
.spColumn .block1 .h2cur{color:#a41222;background:#fcd998;}
.spR1 .articleList{padding:25px 15px;}
.spR1 .articleShow{padding:25px 15px;}
.spR1 .articleShow h1 {border-bottom:1px solid #f2f2f2;position:relative;height:45px;text-align:center;margin-bottom:15px;}
.spR1 .articleShow h1 .s1{font-weight:bold;color:#981120;font-size:14px;margin-top:20px;}
.spR1 .articleShow h1 .s2{font-size:11px;float:right;margin:0 10px;display:inline;position:absolute;right:80px;top:21px;}
.spR1 .articleShow h1 .s3{font-weight:bold;float:right;vertical-align:middle;position:absolute;right:0;top:17px;}
.spR1 .articleShow p{margin-bottom:10px;line-height:25px;font-size:14px;}
.spR1 .articleShow strong{font-weight:bold;color:#555555;}
.spR1 .articleShow p a{font-size:14px;color:#555555;}

.spR1 .articleList li{line-height:32px;height:32px;border-bottom:1px solid #f2f2f2;}
.spR1 .articleList li.on{background:#fbf9f1;}
.spR1 .articleList li .s1{color:#555;display:inline;float:left;margin-right:5px;width:60px;}
.spR1 .articleList li .s1 a{color:#555;}
.spR1 .articleList li .s1 a:hover{text-decoration:underline;color:#cf3241;}

.spR1 .articleList li .s2{width:500px;}

.spR1 .articleList li a.a1{color:#555;display:inline;float:left;}
.spR1 .articleList li .s3{color:#939393;display:inline;width:65px;float:right;font-size:11px;}
.spR1 .articleList li a.a1:hover{text-decoration:underline;color:#cf3241;}
.spR1 .articleList li a.a1.red{color:#cf3241;}

.spColumn2 .block1 a{color:#555;text-indent:6px;display:block;}
.spColumn2 .block1 a:hover{color:#cf3241;text-decoration:underline;}
.spColumn2 .block1 a.cur{color:#cf3241;}
.spColumn2 .block1 .amore a{margin:5px 0;color:#cf3241;}

.spTip0{border:1px solid #b9003c;background:url(/resource/content/images/ucenter/supplier1.jpg) no-repeat 20px center;height:45px;line-height:45px;text-indent:40px; margin-bottom:10px;}
.spTip0 strong{font-weight:bold;}
.spTip0 em{font-weight:bold;color:#d51b03;}
.spTip0 em a{color:#d51b03;font-weight:bold;}
.spTip0 a:hover{text-decoration:underline;}

.pwel{margin:0px 0 10px 0; border-bottom:5px solid #e2e2e2;line-height:45px;height:50px;font-size:28px;font-family:"Microsoft YaHei";color:#353535;}

.spNotice{width:750px;margin:0 auto;}
.spNotice .hd{height:40px;line-height:40px;border-bottom:1px solid #c5c5c5;margin-bottom:10px;}
.spNotice .bd{width:100%;float:left;clear:both;overflow:hidden;padding-bottom:15px;border-bottom:1px dotted #c7c7c7}
.spNotice .hd span{color:#4d4d4d;float:left;font-size:14px;font-weight:bold;width:150px;}
.spNotice .hd em{color:#787878;float:right;padding:0 5px;border-left:1px solid #787878;height:14px;line-height:13px;margin-top:14px;}
.spNotice .hd a{color:#787878;}
.spNotice .hd a:hover{color:#cc0000;text-decoration:underline;}
.spNotice .bd ul{padding:0 10px;width:740px;display:block;}
.spNotice .bd li{line-height:24px;display:block;}
.spNotice .bd li a{color:#6c6c6c;float:left;overflow:hidden;display:inline;background:url(/resource/content/images/ucenter/supplier3.jpg) no-repeat 0 center;text-indent:12px;}
.spNotice .bd li a:hover{color:#cf3241;}
.spNotice .bd span{float:left;width:500px;}
.spNotice .bd em{float:right;width:60px;text-align:right;color:#a7a7a7;}

.box4{margin-bottom:30px;width:100%;display:inline;float:left;clear:both;}
.box4 h4{height:40px;line-height:40px;border-bottom:1px solid #c5c5c5;margin-bottom:10px;}
.box4 h4 span{color:#4d4d4d;float:left;font-size:14px;font-weight:bold;width:150px;}
.box4 h4 em{color:#787878;float:right;padding:0 5px;border-left:1px solid #787878;height:14px;line-height:13px;margin-top:14px;}
.box4 h4 a{color:#787878;}
.box4 h4 a:hover{color:#cc0000;text-decoration:underline;}

.box4 ul{width:100%;float:left;height:auto;clear:both;}
.box4 li{float:left;width:118px;height:68px;border:1px solid #e3e3e3;text-align:center;vertical-align:middle;margin-right:5px;margin-bottom:5px;}
.box4 li:hover{border:1px solid #cf3241;}
.box4 li:hover a{text-decoration:underline;color:#cf3241;}
.box4 li .a1{width:118px;height:45px;display:block;margin-top:3px;}
.box4 li img{vertical-align:middle;}
.box4 li .a2{color:#7d7d7d;}
.box4Inner{width:100%;margin:0 auto;}

.modifyPwd{width:745px;margin:0 auto;}
.modifyPwd .p0{background:url(/resource/content/images/ucenter/supplier5.jpg) no-repeat 19px center;text-indent:43px;height:30px;line-height:30px;margin-top:15px;}
.spBox1 .sphd{height:34px;border:1px solid #d2d2d2;border-bottom:1px solid #b9003c;font-weight:bold;}
.spBox1 .sphd .s1{text-indent:25px;float:left;height:34px;line-height:34px;}
.spBox1 .sphd .sbtn{float:right;height:34px;line-height:34px;vertical-align:middle;padding-right:4px;}
.spBox1 .sphd .sbtn input{float:right;margin-top:4px;}
.spBox1 .sphd .sbtn input:hover{filter:alpha(opacity=90);opacity:0.9;}
.spBox1 .sphd .sbtnTrim1 input{float:right;margin-top:7px;}
.spBox1 .sphd .sbtn .i2{margin-right:5px;margin-top:5px;float:right;}

.spBox1 .sphd input,.spBox1 .sphd select{vertical-align:middle;margin-right:3px;_margin:5px 3px 5px 0px;}
.spBox1 .spbd{margin:0 auto;border:1px solid #d2d2d2;}
.spBox1 .sphdTrim1{font-weight:normal;margin-bottom:10px;}
.spBox1 .sphdTrim1 .s1{font-weight:bold;float:left;width:105px;color:#222222;line-height:34px;height:34px;}
.spBox1 .sphdTrim1 .s2{float:left;width:541px;text-align:center;line-height:34px;height:34px;}
.spBox1 .sphdTrim1 .s3{float:right;margin-right:5px;line-height:34px;height:34px;}
.spBox1 .sphdTrim1 .s4{float:left;line-height:34px;height:34px;width:400px;padding-left:30px;color:#b31527}

.spBox1 .sphdTrim1 .s2 div{display:inline;}
.spBox1 .sphdTrim1 .s3 img{margin-top:5px;}

.spBox1 .spbdTrim4{margin-bottom:10px;}
.spBox1 .spbdTrim4 .t1{font-weight:bold;padding:0 20px;font-size:14px;color:#fff;background:#b51527;height:30px;line-height:30px;}
.spBox1 .spbdTrim4 .b1{background:#fbf9f1;line-height:23px;padding:20px;}
.spBox1 .spbdTrim4 .b1 .p1{font-weight:bold;color:#b51527;}
.spBox1 .spbdTrim4 .b1 .p2{font-weight:bold;color:#555555;}
.spBox1 .spbdTrim4 .b1 p{margin-bottom:6px;}


.spbdTrim4p1{border:1px solid #ff8e46;background:#feffd0 url(user5.jpg) no-repeat 15px center;text-indent:55px;height:35px;line-height:35px;margin-bottom:10px;}
.spbdTrim4p1 a{text-decoration:underline;}

#cld input{vertical-align:middle;margin-right:0px;_margin:5px 0px 5px 0px;}

.spBox1 .modifyPwd .d1{width:100%;margin-top:10px;}
.spBox1 .modifyPwd table{margin-left:35px;}
.spBox1 .modifyPwd tr{}
.spBox1 .modifyPwd td{padding:5px;}
.spBox1 .modifyPwd td .i1{width:180px;height:21px;}
.spBox1 .modifyPwd td .i2{margin-top:10px;}
.spBox1 .modifyPwd td input{margin-right:10px;}
.spBox1 .modifyPwd td input:hover{filter:alpha(opacity=90);opacity:0.9;}

.spBox1 .addBrand .d1{width:100%;border-bottom:0;margin-top:10px;}
.spBox1 .addBrand table{margin-left:35px;}
.spBox1 .addBrand tr{}
.spBox1 .addBrand td{padding:8px;}
.spBox1 .addBrand td .i1{width:317px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .addBrand td .i2{margin-top:10px;}
.spBox1 .addBrand td .i3{width:335px;color:#666;}
.spBox1 .addBrand td .i4{height:23px;}
.spBox1 .addBrand td .i5{width:160px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .addBrand td .s1{width:150px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .addBrand .td0{background:url(/resource/content/images/ucenter/supplier5.jpg) no-repeat 0 center;}
.spBox1 .addBrand .td0Trim1{background:none;}
.spBox1 .addBrand .td1{background:url(/resource/content/images/ucenter/supplier9.jpg) no-repeat 0 center;}
.spBox1 .addBrand td strong{padding-left:10px;}
.spBox1 .addBrand td input{margin-right:10px;}
.spBox1 .addBrand td input:hover{filter:alpha(opacity=90);opacity:0.9;}

.spBox1 .addProduct .d1{width:100%;border-bottom:0;margin-top:10px;}
.spBox1 .addProduct table{margin-left:20px;}
.spBox1 .addProduct tr{}
.spBox1 .addProduct td{padding:8px;}
.spBox1 .addProduct td .i1{width:200px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .addProduct td .i2{margin-top:10px;}
.spBox1 .addProduct td .i3{width:335px;padding:2px;line-height:18px;color:#666;}
.getExampleTarget{width:379px;height:auto;color:#717171;border:0px;display:none;position:relative;padding-bottom:15px;border:1px solid #ffc097;background:#fdfdf5;padding:5px;line-height:20px;margin-top:5px;padding-right:20px;}
.getExample{position:relative;right:0;bottom:0;}

.doCloseTip{background:url(../images/cls2.gif) no-repeat 0 center;width:13px;height:13px;float:right;overflow:hidden;position:absolute;right:5px;top:5px;cursor:pointer;}

.spBox1 .addProduct td .i4{height:23px;}
.spBox1 .addProduct td .i5{width:80px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .addProduct td .s1{width:150px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .addProduct .td0{background:url(supplier5.jpg) no-repeat 0 center;}
.spBox1 .addProduct .td0Trim1{background:none;}
.spBox1 .addProduct .td1{background:url(supplier9.jpg) no-repeat 0 center;}
.spBox1 .addProduct td strong{padding-left:10px;}
.spBox1 .addProduct td input{margin-right:5px;}
.spBox1 .addProduct td label{margin-right:5px;}
.spBox1 .addProduct td .fortip{background:url(supplier5.jpg) no-repeat 0 center;display:inline;zoom:1;padding-left:15px;}
.spBox1 .addProduct td input{vertical-align:middle;}
.spBox1 .addProduct td img{vertical-align:middle;}
.spBox1 .addProduct td select{vertical-align:middle;}

.delPicList1 ul{width:100%;text-align:center;display:block;float:left;height:auto;}
.delPicList1 li{width:76px;display:inline-block;text-align:center;*display:inline;zoom:1;margin:0 10px;margin-bottom:10px;}

.listSeries{overflow:hidden;}
.spBox1 .spbdTrim1{border:0px;}
.spBox1 .spbdTrim2{border-top:0px solid #c9c9c9;margin-bottom:15px;}
.listSeriesInner .bd .item{display:none;}
.listSeriesInner .hd{border-left:1px solid #c9c9c9;position:relative;z-index:101;bottom:-1px;}
.listSeriesInner .hd ul{width:780px;text-align:right;}
.listSeriesInner .hd li{background:#e8e8e8;width:80px;border-right:1px solid #c9c9c9;border-top:1px solid #c9c9c9;float:left;display:inline;text-align:center;height:28px;line-height:28px;border-bottom:1px solid #c9c9c9;position:relative;}
.listSeriesInner .hd li.cur{background:#fff;border-bottom:1px solid #fff;}
.listSeriesInner .hd a{color:#838383;float:left;text-align:center;display:block;width:100%;overflow:hidden;height:100%;}

.listSeriesInner .bd{padding:5px;border:1px solid #c9c9c9;}

.listSeriesInner table th{border-bottom:1px dotted #be9699; text-align:left;padding:9px 8px;font-weight:bold; color:#333;}
.listSeriesInner table .tdStrong{font-weight:bold;}
.listSeriesInner table .tdStrong2 a{font-weight:bold;font-size:14px;color:#565656;}
.listSeriesInner table .tdStrong2 a:hover{color:#8e101f;text-decoration:underline;}
.listSeriesInner table .tdStrong3{font-weight:bold;font-size:16px;}

.myDocInner table td.tdStrongTrim1 a{width:95px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:3px;background:url(supplier18.jpg) no-repeat 0 0;text-align:center;line-height:21px;}
.myDocInner table td.tdStrongTrim1 a:hover{background:url(supplier17.jpg) no-repeat 0 0;}

.listSeriesInner table .tdRed{color:#b01426;}
.listSeriesInner td{padding:8px;}
.listSeriesInner table td.tdControl a{width:49px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:3px;background:url(/resource/content/images/ucenter/supplier11.jpg) no-repeat 0 0;text-align:center;line-height:21px;}
.listSeriesInner table td.tdControl a:hover{background:url(/resource/content/images/ucenter/supplier12.jpg) no-repeat 0 0;}


.listSeriesInner2 .bd .item{display:none;}
.listSeriesInner2 .hd{width:753px;border-left:1px solid #c9c9c9;position:relative;z-index:101;float:left;bottom:-1px;}
.listSeriesInner2 .hd ul{width:780px;text-align:right;}
.listSeriesInner2 .hd li{background:#e8e8e8;width:80px;border-right:1px solid #c9c9c9;border-top:1px solid #c9c9c9;float:left;display:inline;text-align:center;height:28px;line-height:28px;border-bottom:1px solid #c9c9c9;position:relative;}
.listSeriesInner2 .hd .cur{background:#fff;border-bottom:1px solid #fff;}
.listSeriesInner2 .hd a{color:#838383;float:left;text-align:center;display:block;width:100%;height:28px;position:absolute;top:0;left:0;}

.listSeriesInner2 .bd{padding:5px;width:743px;border:1px solid #c9c9c9;border-top:1px solid #c9c9c9;float:left;}

.listSeriesInner2 table th{border-bottom:1px dotted #be9699;padding:9px 8px;}
.listSeriesInner2 table .tdStrong{font-weight:bold;}
.listSeriesInner2 table .tdStrong2 a{font-weight:bold;font-size:14px;color:#565656;}
.listSeriesInner2 table .tdStrong2 a:hover{color:#8e101f;text-decoration:underline;}
.listSeriesInner2 table .tdStrong3{font-weight:bold;font-size:16px;}

.listSeriesInner2 table .tdRed{color:#b01426;}
.listSeriesInner2 td{padding:8px;}
.listSeriesInner2 table td.tdControl a{width:49px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:3px;background:url(supplier11.jpg) no-repeat 0 0;text-align:center;line-height:21px;}
.listSeriesInner2 table td.tdControl a:hover{background:url(supplier12.jpg) no-repeat 0 0;}

.forpager{position:relative;background:#ebebeb;height:30px;padding:8px;clear:both;}
.forpager .scquanxuan{ background: url(scquanxuan.gif); width:52px; height:28px; cursor:pointer; display:block; position:absolute; left:15px; top:10px; text-indent:-999px; overflow: hidden;}
.forpager .qbshanchu{ position:absolute; left:85px; top:10px;}
.forpager .addgwc{ width:103px; height:28px;background:url(addgwc.gif) no-repeat; cursor:pointer; display:block; position:absolute; 
top:8px; right:140px; text-indent:-9999px; overflow:hidden;}
.forpager .lookgwc{ width:103px; height:28px; background:url(lookgwc.gif) no-repeat; cursor:pointer; display:block; position:absolute; 
top:8px; right:15px; text-indent:-9999px; overflow:hidden;}

.forpagerTrim1{width:100%;padding:8px 0;}
.pagerTrim1{position:absolute;top:-2px;left:180px;width:500px;text-align:left; }
.pagerTrim1 li{text-align:left;}
.pagerTrim1 ul{text-align:left;}
.forpager input{vertical-align:middle;}
.forpager select{vertical-align:middle;}
.forpager .forAddNew{position:absolute;right:6px;top:13px;}

.listProduct .tdStrong a{text-decoration:underline;font-weight:normal;}

.listSeries .tdlistBrandDesc{margin-top:10px;padding:20px;width:708px;margin-top:10px;line-height:21px;}


/***user***/
.listSeriesInner .hdTrim1{border-left:1px solid #c9c9c9;position:relative;z-index:101;bottom:-1px;height:30px;}
.listSeriesInner .hdTrim1 ul{text-align:right;}
.listSeriesInner .hdTrim1 li{background:#e8e8e8 url(user4.jpg) no-repeat 10px center;width:120px;border-right:1px solid #c9c9c9;border-top:1px solid #c9c9c9;float:left;display:inline;text-align:center ;height:28px;line-height:28px;border-bottom:1px solid #8b101d;position:relative;}
.listSeriesInner .hdTrim1 li.cur{background:#fff url(user3.jpg) no-repeat 10px center;border-bottom:1px solid #fff;}
.listSeriesInner .hdTrim1 a{color:#838383;}

.myOrderP{height:40px;line-height:40px;color:#b31527;text-indent:20px;}
.spBox1 .spbdTrim3{margin-bottom:0;}
.listSeriesInner .bdTrim1 table td{border-bottom:1px solid #d9d9d9;}
.listSeriesInner .bdTrim1 table td.bgRed{background-color:#fbf9f1;}
.listSeriesInnerTrim1 td{padding:30px 8px;}

.tbReview1{}
.tbReview1 tr td .p0{line-height:20px;}
.tbReview1 tr td .p0 a{font-weight:bold;}
.tbReview1 tr td .p0 strong{font-weight:bold;color:#cf3241}
.tbReview1 tr td .p1{color:#cf3241;font-size:10px;line-height:18px;}

.myDoc{margin:0 auto;overflow:hidden;}
.myDocInner{clear:both}

.spBox1 .myDoc tr{}
.spBox1 .myDoc td{padding:6px 6px;}
.spBox1 .myDoc td input{vertical-align:middle;}
.spBox1 .myDoc td .i1{width:225px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .myDoc td .i2:hover{filter:alpha(opacity=60);opacity:0.6;}

.spBox1 .myDoc td .s1{width:150px;overflow:hidden;height:20px;line-height:20px;}
.spBox1 .myDoc .td0{background:url(supplier5.jpg) no-repeat 0 center;}
.spBox1 .myDoc .td0Trim1{background:none;}
.spBox1 .myDoc .td1{background:url(supplier9.jpg) no-repeat 0 center;}
.spBox1 .myDoc td strong{padding-left:10px;}
.myDocInner h5{font-weight:bold;text-indent:15px;color:#b21526;height:35px;line-height:35px;border-bottom:1px solid #d9d9d9}
.myDocInner .d1{padding:0 20px;margin-bottom:15px;}
.myDocInner .p1{border:1px solid #ff8e46;background:#feffd0 url(user5.jpg) no-repeat 15px center;text-indent:55px;margin-top:10px;height:28px;line-height:28px;margin-bottom:10px;}
.myDocInner .p1 a{text-decoration:underline;}
.myDocInner .d2{padding:0 20px;margin-bottom:15px;}

.myDocInner table th{border-bottom:1px dotted #be9699;padding:9px 8px; text-align:left}
.myDocInner table td.tdControl a{width:49px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:11px;background:url(supplier11.jpg) no-repeat 0 0;text-align:center;line-height:21px;}
.myDocInner table td.tdControl a:hover{background:url(supplier12.jpg) no-repeat 0 0;}

.spBox1 .bd table td{border-bottom:1px solid #dddddd;}
.spBox1 .bd table td.tdTitle{font-weight:bold;}

.spBox1 .myDocTrim1 tr.df td{color:#b41426;}
.spBox1 .myDocTrim1 .item{margin-top:10px;margin-bottom:10px;}

.complaintTip1{border:1px solid #d0d0d0;border-bottom:1px solid #5c070f;padding:15px;line-height:21px;margin-bottom:10px;}
.addComplaint{background:#e5e5e5;padding:30px;height:200px;}
.addComplaint .i1{width:450px;height:21px;line-height:21px;padding-left:1px;}
.addComplaint textarea{width:600px;height:100px;overflow:auto;}
.addComplaint td{padding:5px;}
.addComplaint strong{padding-left:18px;background:url(user18.jpg) no-repeat left center;}
.addComplaint td input:hover{filter:alpha(opacity=90);opacity:0.9;}

.myMsg .trb{}
.myMsg .trb td{cursor:pointer;}
.myMsg .trbOn{background:url(user9.jpg) no-repeat 720px center;border-bottom:0;}
spBox1 .bd .trbOn td{border-bottom:0;}

.myMsg .trbContent{display:none;line-height:19px;}
.myMsg .trbContent td{width:100%;background-color:#fbf9f1;}
.myMsg .trbContent .pControl a{font-weight:bold;}
.myMsg .trbContent .pControl{text-align:right;line-height:22px;height:22px;}
.myMsg .trbContent .pControl a:hover{text-decoration:underline;}

.myMsg .trbOn td{background-color:#fbf9f1;color:#b31526;}
.myMsg .trbOn td.tdTitle{font-weight:bold;}
.myMsg .trb td.tdControl{background:url(user8.jpg) no-repeat 120px center;}
.myMsg .trbOn td.tdControl{background:#fbf9f1 url(user9.jpg) no-repeat 120px center;}

#cld{position:relative;}
.Fordio_calender{top:9px;}

.modifyPwd .p1{text-indent:43px;height:10px;line-height:10px;margin-top:15px;}

.modifyPwdTrim1 .red{padding-left:14px;background:url(supplier5.jpg) no-repeat 0 center;}
.modifyPwdTrim1 .gray{padding-left:14px;background:url(supplier9.jpg) no-repeat 0 center;}

.spBox1 .modifyPwd td input{margin-right:10px;}
.spBox1 .modifyPwd td textarea{margin-right:10px;}
.spBox1 .modifyPwd td select{margin-right:10px;}
.modifyPwdTrim1 textarea{width:480px;height:100px;overflow:auto;}

.spBox1 .sphdTrim1 .s1{font-weight:bold;float:left;width:180px;color:#222222;line-height:34px;height:34px;}
.spBox1 .sphdTrim1 .s1 strong{font-size:14px;font-weight:bold;}
.spBox1 .sphdTrim1 .s5{float:right;width:70px;line-height:34px;height:34px;text-align:right;padding-right:5px;}
.spBox1 .sphdTrim1 .s5 a{color:#b31527;}
.spBox1 .sphdTrim1 .s5 a:hover{text-decoration:underline;}

.myOrderShow1{width:100%;float:left;clear:both;margin-bottom:10px;}
.myOrderShow1 .sphd{height:34px;border:1px solid #d2d2d2;border-bottom:1px solid #553016;font-weight:bold;color:#000;}
.myOrderShow1 .sphd .s1{text-indent:10px;float:left;height:34px;line-height:34px;}
.myOrderShow1 .spbd{margin:0 auto;border:1px solid #d2d2d2;height:auto;}
.myOrderShow1 .spbdInner1{padding:10px;line-height:20px;}
.myOrderShow1 .b1{border-bottom:1px solid #ddd;padding-bottom:10px;margin-bottom:5px;}
.myOrderShow1 .b1Trim1{border-bottom:0}
.myOrderShow1 .spbdInner1 h3{font-weight:bold;color:#000;line-height:24px;height:24px;}
 
.myDocInner table td.tdControl a{width:49px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:3px;background:url(supplier11.jpg) no-repeat 0 0;text-align:center;line-height:21px;}
.myDocInner table td.tdControl a:hover{background:url(supplier12.jpg) no-repeat 0 0;}

.myDocTrim2 tr td{}
.myDocTrim2 table .tdControl a{width:49px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:3px;background:url(supplier11.jpg) no-repeat 0 0;text-align:center;line-height:21px;}
.myDocTrim2 table .tdControl a:hover{background:url(supplier12.jpg) no-repeat 0 0;}
.myDocTrim2 td{padding:4px 6px;border-bottom:1px solid #d9d9d9;}
.myorderlist1 td{background:#fbf9f1;}
.myorderlist1 strong{font-weight:bold;}
.myorderlist1 .a1{font-weight:bold;}
.myorderlist1 a.a1:hover{text-decoration:underline;}
.myorderlist1 .st1{color:#cf3241}

.myOrderShow1Trim1{margin-bottom:0;}
.myOrderShow2{background:#e5e5e5;width:100%;float:left;clear:both;margin-bottom:10px;}
.myOrderShow2 .s1{float:left;text-indent:20px;line-height:35px;}
.myOrderShow2 .s2{float:right;text-align:right;font-size:18px;padding-right:15px;line-height:35px;}
.myOrderShow2 .s2 strong{font-weight:normal;color:#cf3241;}

.myDocTrim2 .tdnull{padding:0px 6px;border-bottom:0;height:10px;overflow:hidden;line-height:10px;}
 
.getScore1{padding:10px;}
.getScore1{line-height:25px;}
.getScore1 h3{height:26px;line-height:26px;font-weight:bold;color:#b21526;border-bottom:1px solid #ddd;margin-bottom:5px;}
.getScore1 .d1{margin-bottom:35px;}

.listSeriesInner table .red{font-weight:bold;font-size:16px;color:#b31427;}
.listSeriesInner table .gray{font-weight:bold;font-size:16px;color:#565656;}
.myScoreSearch1 td{padding:6px 8px;}

.forpager1{position:relative;background:#ebebeb;height:20px;padding:8px;width:100%;float:left;height:21px;}
.forpager1 .s1{height:21px;float:left;padding-left:15px;}
.forpager1 .s1 strong{font-weight:bold;color:#cf3241}

.myScoreHow1{width:728px;padding:10px 0 75px;margin:0 auto;}
.myScoreHow1 p{height:25px;line-height:25px;text-indent:55px;margin-bottom:2px;background:url(dot.jpg) no-repeat 38px center;}
.myScoreHow1 p.p1{height:25px;line-height:25px;text-indent:18px;margin-bottom:2px;background:none;font-weight:bold;color:#b31427;}

.myScoreDesc{background:url(user19.jpg) no-repeat 0 center;line-height:20px;padding-left:60px;width:700px;margin:45px 0;float:left;}

.spBox1 .sphdTrim2{margin-bottom:0px;}
.activeCoupon{border:1px solid #ddd;padding:15px 0;margin-bottom:10px;padding-left:20px;}
.activeCoupon .s1{padding-left:20px;}
.activeCoupon a{width:49px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:3px;background:url(supplier11.jpg) no-repeat 0 0;text-align:center;line-height:21px;}
.activeCoupon a:hover{background:url(supplier12.jpg) no-repeat 0 0;}
.activeCoupon strong{padding-left:18px;background:url(supplier9.jpg) no-repeat 0 center;margin-left:10px;}
.activeCoupon input{width:180px;padding-top:1px;}


.relatePuser{width:100%;clear:both;height:150px;padding-bottom:15px;border-bottom:1px dotted #ddd;}
.relatePuser .item li{float:left;display:inline;width:188px;}
.relatePuser .item .l{float:left;width:78px;}
.relatePuser .item .r{float:right;width:110px;overflow:hidden;}
.relatePuser .item strong{color:#cf3241;}
.relatePuser .item a{color:#cf3241;font-weight:bold;}
.relatePuser .item a:hover{text-decoration:underline}

.tab3user .hd{margin-bottom:20px;width:100%;float:left;}
.tab3user .hd ul{float:left;height:45px;width:100%;border-bottom:5px solid #efefef;}
.tab3user .hd .li1{float:left;color:#888888;font-size:14px;font-weight:bold;line-height:45px;width:154px;text-indent:15px;position:relative;}
.tab3user .hd .li2{float:right;color:#888888;font-size:14px;line-height:44px;width:60px;text-indent:15px;background:url(../images/product/product32.jpg) no-repeat left center;}
.tab3user .hd .cur{color:#4d4d4d;}
.tab3user .bd .item{display:none;}
.tab3user .hd .cur span{position:absolute;bottom:-5px;left:0;float:left;width:100%;height:5px;overflow:hidden;background:#4d4d4d;}
.tab3user .hd .cur .spanRed{position:absolute;bottom:-5px;left:0;float:left;width:100%;height:5px;overflow:hidden;background:#b61527;}
 
.pwel2{margin:10px 0 10px;line-height:21px;height:50px;color:#353535;border-bottom:1px dotted #e2e2e2;}
.pwel3{margin:10px 0 10px;line-height:21px;height:50px;color:#353535;border-bottom:1px dotted #e2e2e2;}
.pwel4{text-align:center;display:inline-block;*display:inline;zoom:;text-align:center;vertical-align:middle;width:100%;margin-top:10px;}
.pwel4 img{vertical-align:middle;}

.myFav1 a.a1{font-weight:bold;}
.myFav1 a.a1:hover{text-decoration:underline;}
 
.listSeriesInner table td.tdControl a{width:54px;height:21px;display:inline-block;*display:inline;zoom:1;margin-right:3px;background:url(/resource/content/images/ucenter/pay_btnbg.gif) no-repeat 0 0;text-align:center;line-height:21px;color:#fff;}
.listSeriesInner table td.tdControl a:hover{background:url(/resource/content/images/ucenter/pay_btnbg2.gif) no-repeat 0 0; text-decoration:none;}

.spBox1 .bd table td div strong{font-weight:bold;}

.kfReview{border:1px solid #ddd;width:697px;padding:10px 15px 15px;background:#fff;}
.kfReview h4{font-weight:bold;color:#b41427;margin-bottom:5px;}

.addPStep{width:495px;height:18px;overflow:hidden;display:inline;margin-top:8px;margin-left:40px;float:left;}
.addPStep em{color:#919191;width:147px;height:18px;overflow:hidden;text-indent:7px;overflow:hidden;line-height:18px;line-height:20px\9;}

/***serviceCenter***/
.serviceCenter{}
.serviceCenter .hd{border:1px solid #d0d0d0;height:40px;padding-left:25px;line-height:40px;font-weight:bold;}
.serviceCenter .bd{border:1px solid #cacaca;border-top:1px solid #5c070f;padding:19px;min-height:646px;_height:646px;}
.serviceCenter .bd .strong{font-weight:bold;}
.serviceCenter .bd .red{color:#981120;}
.serviceCenter .bd .underline{text-decoration:underline;}
.serviceCenter .bd a:hover{text-decoration:underline;}
.serviceCenter .bd p{margin-bottom:25px;line-height:24px;}

.serviceBanner{width:1000px;overflow:hidden;margin:0 auto;margin-bottom:5px;text-align:left;}
.serviceColumn{width:220px;border:0;}
.serviceColumn h2{background:#828282;color:#fff;height:20px;line-height:20px;border-bottom:0;position:relative;}
.serviceColumn .block1 .d1{width:198px;border:1px solid #c9c9c9;padding-bottom:30px;}
.serviceColumn .block1{padding-bottom:0;}
.serviceColumn h2 span{position:absolute;bottom:-4px;left:35px;}

#cjwt .p1{background:#f4f4f4 url(../images/service/service11.gif) no-repeat 3px center;text-indent:45px;height:32px;line-height:32px;margin-bottom:10px;color:#b82935;font-weight:bold;font-size:14px;}
#cjwt .p2{background:url(../images/service/service12.gif) no-repeat 40px 5px;padding-left:70px;margin-bottom:25px;}

.inputcss {background:#fff url("../images/home/home77.jpg") repeat-x 0 0;border: 1px solid #999999;height: 20px;line-height: 20px;padding-left: 2px;width: 170px;}

.paybt{ width:100%; height:34px;float:left; display:block;}
.paybt a{ text-align:center; text-decoration:none;}
.paybt a:hover{ color:#fff;}
.paybt input{text-align:center; border:none;}
.yybtn{ width:88px; height:34px; margin-right:40px; float:right; line-height:34px;  cursor:pointer; display:block; background:url(ddbtn.gif) no-repeat 0 0; color:#fff; font-weight:bold; font-size:16px; }
.ggbtn{ width:88px; height:34px; line-height:34px;  cursor:pointer; display:block; background:url(ddbtn.gif) no-repeat 0 -34px; color:#666; font-weight:bold; font-size:16px; }
.btn:hover {
background-image: url(supplier17.jpg);}
.btn {
background-image: url(supplier18.jpg);width: 50px;display: inline;border: 0px;text-align: center;color: #9f1121;font-size: 12px;line-height: 21px;height: 21px;cursor: pointer;
}