
.site{ margin:0 auto; color:#9d9d9d;width:1175px; height:40px; line-height:40px; padding-left:25px; background:url(/resource/content/images/ucenter/zd.gif) no-repeat 2px 12px;}
.promotions{ height:33px; line-height:33px; font-size:14px; font-weight:bold; color:#b9003c; text-indent:8px; background:#f2f1f1; border-bottom:1px solid #cecece;}
.homebraLi2{ border:1px solid #d8d8d8; overflow:hidden; _height:100%; background:#fff;padding-bottom:35px;}
.homebraRight2{ margin-top:15px; padding:0;}
.homebraLi2 h3{font-size:22px;color:#b9003c; line-height:30px;font-family: microsoft yahei;font-weight:500; padding:15px;border-bottom:1px solid #cecece;}
.jies{ padding:30px;font-size:14px;  line-height:24px;}
.xwlis{padding:30px;}.xwlis dl{border-bottom:1px  dashed #cecece; overflow:hidden; padding:10px 0;margin-bottom:10px;}.xwlis dt{ float:left;}
.xwlis dd{ float: right; width:750px;line-height:25px;}
.xwlis dd.xw1{font-size:18px;color:#b9003c; font-family: microsoft yahei;}
.xwlis dd.xw2{ color:#aaa;}.xwlis dd.xw2 a.red{ color:#b9003c;}
.xwlis dd.xw3{}
.xwlis dt img{ width:135px; height:100px;}
.sycp{border:1px solid #fff;width:283px; padding:12px; font-size:12px;float:left; margin:10px 9px 0 0;}
.sycp:hover{border:1px solid #e7e7e7; box-shadow:0px 0px 10px #B7B5B5;}
.sycp1{width:283px;height:158px;line-height:158px;display: table-cell;vertical-align:middle;overflow:hidden;font-size:158px;text-align:center;}
.sycp1 img{vertical-align:middle;}
.sycp2{width:283px;height:20px;line-height:20px;overflow:hidden;font-size:14px;font-family:"Microsoft YaHei";}
.sycp3 span{ color:#e00000; margin-right:10px;}
.sycp4{color:#808080; line-height:22px;}.sycp4 div{ float:right;}.sycp4 div span{color:#e00000;font-size:22px; }
.sycp5{width:283px;height:20px;line-height:20px;overflow:hidden;}
.sycp5 span{ color:#e00000;}.sycp5 span.lans{ color:#005aa0;}
.gwc{margin:0 auto;width:1200px;}

