<?xml version="1.0"?>
<connectionStrings>

  <!--<add name="DBConnString" connectionString="server=192.168.1.123\SQLEXPRESS;uid=sa;pwd=123456;database=JiaJuKSN;max pool size=300" />-->
 <add name="DBConnString" connectionString="server=.;uid=sa;pwd=123456;database=servertest;max pool size=300" />
  
  <!--<add name="DBConnString" connectionString="server=115.29.29.218;uid=C;pwd=FelUvMg3pi;database=JiaJuKSN;max pool size=300" />
  <add name="DBConnString" connectionString="server=FORDIO-IT8;uid=sa;pwd=123456;database=TREC;max pool size=300" />-->
</connectionStrings>