<?xml version="1.0" encoding="utf-8" ?> 
<urls>
  <rewrite name="companylist"
        path="/company/list.aspx"
        pattern = "/company/list.aspx"
        page="/companylist.aspx"
        querystring="cid=$1" />
  <rewrite name="companylistsearch"
        path="/company/list/{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}.aspx"
        pattern = "/company/list/(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-([^-.]*)-(\w*).aspx"
        page="/companylist.aspx"
        querystring="brand=$1^style=$2^material=$3^spread=$4^staffsize=$5^sort=$6^composing=$7^key=$8^page=$9" />
  <rewrite name="companybrandlist"
        path="/company-brand/list.aspx"
        pattern = "/company-brand/list.aspx"
        page="/companybrandlist.aspx"
        querystring="cid=$1" />
  <rewrite name="companybrandlistsearch"
        path="/company-brand/list/{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}.aspx"
        pattern = "/company-brand/list/(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-([^-.]*)-(\w*).aspx"
        page="/companybrandlist.aspx"
        querystring="brand=$1^style=$2^material=$3^spread=$4^staffsize=$5^sort=$6^composing=$7^key=$8^page=$9" />
  <rewrite name="companyindex"
        path="/company/{0}/index.aspx"
        pattern = "/company/(\d+)*/index.aspx"
        page="/company/index.aspx"
        querystring="cid=$1" />
  <rewrite name="companyindex2"
        path="/company/{0}/index2.aspx"
        pattern = "/company/(\d+)*/index2.aspx"
        page="/company/index2.aspx"
        querystring="cid=$1" />
  <rewrite name="companyabout"
      path="/company/{0}/about.aspx"
      pattern = "/company/(\d+)*/about.aspx"
      page="/company/about.aspx"
      querystring="cid=$1" />
  <rewrite name="companybrand"
       path="/company/{0}/brand.aspx"
       pattern = "/company/(\d+)*/brand.aspx"
       page="/company/brand.aspx"
       querystring="cid=$1" />
  <rewrite name="companyMerchants"
       path="/company/{0}/MerchantsInfo-{1}.aspx"
       pattern = "/company/(\d+)*/MerchantsInfo-(\d+)*.aspx"
       page="/company/MerchantsInfo.aspx"
       querystring="cid=$1^merchantid=$2" />
  <rewrite name="MerchantsList"
        path="/Merchants/list.aspx"
        pattern="/Merchants/list.aspx"
        page="/Merchantslist.aspx"
        querystring="">
  </rewrite>
  <rewrite name="MerchantsListSearch"
    path="/Merchants/list-{0}-{1}.aspx"
    pattern="/Merchants/list-(\w*)-(\w*).aspx"
    page="/Merchantslist.aspx"
    querystring="style=$1^page=$2"></rewrite>
  <rewrite name="companymerchants"
       path="/company/{0}/news.aspx"
       pattern = "/company/(\d+)*/merchants.aspx"
       page="/company/merchants.aspx"
       querystring="cid=$1" />
  <rewrite name="companymerchantslist"
      path="/company/{0}/merchants-{1}.aspx"
      pattern = "/company/(\d+)*/merchants-(\w*).aspx"
      page="/company/merchants.aspx"
      querystring="cid=$1^page=$2" />  
  <rewrite name="companyMerchantsInsert"
       path="/company/{0}/MerchantsInfo-{1}-{2}-{3}-{4}-{5}-{6}.aspx"
       pattern = "/company/(\d+)*/MerchantsInfo-(\d+)*-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/company/MerchantsInfo.aspx"
       querystring="cid=$1^merchantid=$2^h=$3^n=$4^p=$5^c=$6^d=$7" />
  <rewrite name="companybrand2"
       path="/company/{0}/brand2.aspx"
       pattern = "/company/(\d+)*/brand2.aspx"
       page="/company/brand2.aspx"
       querystring="cid=$1" />
  <rewrite name="companybrandlist"
        path="/company/{0}/brand-{1}.aspx"
        pattern = "/company/(\d+)/brand(-(\d+))?.aspx"
        page="/company/brand.aspx"
        querystring="cid=$1^brand=$3" />
  
  <rewrite name="companyproduct"
       path="/company/{0}/product.aspx"
       pattern = "/company/(\d+)*/product.aspx"
       page="/company/product.aspx"
       querystring="cid=$1" />
  <rewrite name="companyproductlistbrandids"
       path="/company/{0}/product-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}-{14}.aspx"
       pattern = "/company/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/company/product.aspx"
       querystring="cid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14^brands=$15" />

<!--Dealer begin-->
  <rewrite name="Dealerproduct"
       path="/Dealer/{0}/product.aspx"
       pattern = "/Dealer/(\d+)*/product.aspx"
       page="/Dealer/product.aspx"
       querystring="did=$1" />
  <rewrite name="Dealerproductlistbrandids"
       path="/Dealer/{0}/product-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}-{14}.aspx"
       pattern = "/Dealer/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/Dealer/product.aspx"
       querystring="did=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14^brands=$15" />
  <!--Dealer end-->
  
  <rewrite name="companyproductlistpost"
       path="/company/{0}/product-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}.aspx"
       pattern = "/company/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/company/product.aspx"
       querystring="cid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14" />
  <rewrite name="companyproductlist"
       path="/company/{0}/product-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}.aspx"
       pattern = "/company/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/company/product.aspx"
       querystring="cid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13" />
  <rewrite name="companynews"
       path="/company/{0}/news.aspx"
       pattern = "/company/(\d+)*/news.aspx"
       page="/company/news.aspx"
       querystring="cid=$1" />
  <rewrite name="companynewslist"
      path="/company/{0}/news-{1}.aspx"
      pattern = "/company/(\d+)*/news-(\w*).aspx"
      page="/company/news.aspx"
      querystring="cid=$1^page=$2" />
  <rewrite name="companynewsinfo"
    path="/company/{0}/news/{1}/info.aspx"
    pattern = "/company/(\d+)*/news/(\w*)/info.aspx"
    page="/company/newsinfo.aspx"
    querystring="cid=$1^id=$2" />
  <rewrite name="companycredit"
       path="/company/{0}/credit.aspx"
       pattern = "/company/(\d+)*/credit.aspx"
       page="/company/credit.aspx"
       querystring="cid=$1" />
  <rewrite name="companyaddress"
       path="/company/{0}/address.aspx"
       pattern = "/company/(\d+)*/address.aspx"
       page="/company/address.aspx"
       querystring="cid=$1" />
  <rewrite name="companyaboutress"
       path="/company/{0}/aboutress.aspx"
       pattern = "/company/(\d+)*/aboutress.aspx"
       page="/company/aboutress.aspx"
       querystring="cid=$1" />
  <rewrite name="companyaddresslist"
        path="/company/{0}/address-{1}-{2}.aspx"
        pattern = "/company/(\d+)/address-(\w*)-(\d+).aspx"
        page="/company/address.aspx"
        querystring="cid=$1^brand=$2^page=$3" />
  <rewrite name="companyaddresslist2"
        path="/company/{0}/address-{1}-{2}-{3}.aspx"
        pattern = "/company/(\d+)/address-(\d?)-(\d+)-(\d+).aspx"
        page="/company/address.aspx"
        querystring="cid=$1^brand=$2^page=$3^area=$4" />
  
    <rewrite name="CompanyInfoPromotions"
          path="/company/{0}/promotions.aspx"
          pattern = "/company/(\d+)/promotions.aspx"
          page="/company/promotions.aspx"
          querystring="cid=$1" />
    <rewrite name="CompanyInfoPromotionsSearch"
          path="/company/{0}/promotions/list/{1}-{2}-{3}.aspx"
          pattern = "/company/(\d+)/promotions/list/(\w*)-(\w*)-(\w*).aspx"
          page="/company/promotions.aspx"
          querystring="cid=$1^brand=$2^area=$3^page=$4" />

<!--活动-->
  
  <rewrite name="CompanyInfoMerchants"
      path="/company/{0}/Merchants.aspx"
      pattern = "/company/(\d+)/Merchants.aspx"
      page="/company/Merchants.aspx"
      querystring="cid=$1" />
  <rewrite name="CompanyInfoMerchantsSearch"
        path="/company/{0}/Merchants/list/{1}-{2}-{3}.aspx"
        pattern = "/company/(\d+)/Merchants/list/(\w*)-(\w*)-(\w*).aspx"
        page="/company/Merchants.aspx"
        querystring="cid=$1^brand=$2^area=$3^page=$4" />


  <rewrite name="DealerInfoMerchants"
    path="/Dealer/{0}/Merchants.aspx"
    pattern = "/Dealer/(\d+)/Merchants.aspx"
    page="/Dealer/Merchants.aspx"
    querystring="did=$1" />
  <rewrite name="DealerInfoMerchantsSearch"
        path="/Dealer/{0}/Merchants/list/{1}-{2}-{3}.aspx"
        pattern = "/Dealer/(\d+)/Merchants/list/(\w*)-(\w*)-(\w*).aspx"
        page="/Dealer/Merchants.aspx"
        querystring="did=$1^brand=$2^area=$3^page=$4" />
  

  <!--活动-->
  
    <rewrite name="CompanyInfoPromotionsInfo"
          path="/company/{0}/promotions/{1}/info.aspx"
          pattern = "/company/(\d+)/promotions/(\d+)/info.aspx"
          page="/company/promotionsinfo.aspx"
          querystring="cid=$1^id=$2" />




  <rewrite name="shoplist"
        path="/shop/list.aspx"
        pattern = "/shop/list.aspx"
        page="/shoplist.aspx"
        querystring="cid=$1" />
  <rewrite name="shoplistsearch"
        path="/shop/list/{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}.aspx"
        pattern = "/shop/list/(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
        page="/shoplist.aspx"
        querystring="brand=$1^style=$2^material=$3^spread=$4^staffsize=$5^sort=$6^composing=$7^key=$8^page=$9" />
  <rewrite name="shopbrandlist"
        path="/shop-brand/list.aspx"
        pattern = "/shop-brand/list.aspx"
        page="/shopbrandlist.aspx"
        querystring="cid=$1" />
  <rewrite name="shopbrandlistsearch"
        path="/shop-brand/list/{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}.aspx"
        pattern = "/shop-brand/list/(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
        page="/shopbrandlist.aspx"
        querystring="brand=$1^style=$2^material=$3^spread=$4^staffsize=$5^sort=$6^composing=$7^key=$8^page=$9" />
  
  <rewrite name="shop"
         path="/shop{0}/index.aspx"
         pattern = "/shop/(\d+)/index.aspx"
         page="/shop/index.aspx"
         querystring="sid=$1" />
  <rewrite name="shop2"
        path="/shop{0}/index2.aspx"
        pattern = "/shop/(\d+)/index2.aspx"
        page="/shop/index2.aspx" 
        querystring="sid=$1" />
  <rewrite name="shopproduct"
         path="/shop/{0}/product.aspx"
         pattern = "/shop/(\d+)/product.aspx"
         page="/shop/product.aspx"
         querystring="sid=$1" />
  <rewrite name="shopproductlistbrandids"
         path="/shop/{0}/product-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}-{14}.aspx"
         pattern = "/shop/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
         page="/shop/product.aspx"
         querystring="sid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14^brands=$15" />
  <rewrite name="shopproductlistpost"
         path="/shop/{0}/product-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}.aspx"
         pattern = "/shop/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
         page="/shop/product.aspx"
         querystring="sid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14" />
  <rewrite name="shopproductlist"
         path="/shop/{0}/product-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}.aspx"
         pattern = "/shop/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
         page="/shop/product.aspx"
         querystring="sid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13" />
  <rewrite name="shoppromotion"
         path="/shop/{0}/promotion-{1}.aspx"
         pattern = "/shop/(\d+)/promotion(-(\d+))?.aspx"
         page="/shop/promotion.aspx"
         querystring="sid=$1" />
  <rewrite name="shoppromotioninfo"
         path="/shop-promotion-info-{0}-{1}.aspx"
         pattern = "/shop-promotion-info-(\d+)-(\d+).aspx"
         page="/shoppromotioninfo.aspx"
         querystring="shopid=$1^id=$2" />
  <rewrite name="shopaddress"
         path="/shop/{0}/address.aspx"
         pattern = "/shop/(\d+)/address.aspx"
         page="/shop/address.aspx"
         querystring="sid=$1" />
    <rewrite name="ShopInfoPromotions"
         path="/shop/{0}/promotions.aspx"
         pattern = "/shop/(\d+)/promotions.aspx"
         page="/shop/promotions.aspx"
         querystring="sid=$1" />
    <rewrite name="ShopInfoPromotionsSearch"
         path="/shop/{0}/promotions/list/{1}.aspx"
         pattern = "/shop/(\d+)/promotions/list/(\w*).aspx"
         page="/shop/promotions.aspx"
         querystring="sid=$1^page=$2" />
    <rewrite name="ShopInfoPromotionsInfo"
         path="/shop/{0}/promotions/{1}/info.aspx"
         pattern = "/shop/(\d+)/promotions/(\d+)/info.aspx"
         page="/shop/promotionsinfo.aspx"
         querystring="sid=$1^id=$2" />

  <rewrite name="productlist"
    path="/product/list.aspx"
    pattern = "/product/list.aspx"
    page="/productlist.aspx"
    querystring="" />
  
  <rewrite name="productlistsearch"
			path="/product/list-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}.aspx"
			pattern = "/product/list-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-([^-.]*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
			page="/productlist.aspx"
			querystring="brand=$1^style=$2^material=$3^spread=$4^color=$5^sort=$6^composing=$7^key=$8^page=$9^type=$10^pcategory=$11^category=$12" />

  <rewrite name="productinfo"
         path="/product/{0}/info.aspx"
         pattern = "/product/(\d+)/info.aspx"
         page="/productinfo.aspx"
         querystring="pid=$1" />

  <rewrite name="marketlist"
         path="/market/list.aspx"
         pattern = "/market/list.aspx"
         page="/marketlist.aspx"
         querystring="" />
  
  <rewrite name="marketlistsearch"
        path="/market/list/{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.aspx"
        pattern = "/market/list/(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-([^-.]*)-(\w*)-(\w*).aspx"
        page="/marketlist.aspx"
        querystring="brand=$1^style=$2^material=$3^spread=$4^staffsize=$5^sort=$6^composing=$7^key=$8^page=$9^area=$10" />
  <rewrite name="marketindex"
      path="/market/{0}/index.aspx"
      pattern = "/market/(\d+)/index.aspx"
      page="/market/index.aspx"
      querystring="mid=$1" />
  <rewrite name="marketindex2"
      path="/market/{0}/index2.aspx"
      pattern = "/market/(\d+)/index2.aspx"
      page="/market/index2.aspx"
      querystring="mid=$1" />
  <rewrite name="marketabout"
      path="/market/{0}/about.aspx"
      pattern = "/market/(\d+)/about.aspx"
      page="/market/about.aspx"
      querystring="mid=$1" />
  <rewrite name="marketcliqueabout"
      path="/market/{0}/marketcliqueabout.aspx"
      pattern = "/market/(\d+)/marketcliqueabout.aspx"
      page="/market/marketcliqueabout.aspx"
      querystring="mid=$1" />
  <rewrite name="marketclique"
      path="/market/{0}/marketclique.aspx"
      pattern = "/market/(\d+)/marketclique.aspx"
      page="/market/marketclique.aspx"
      querystring="mid=$1" />
  <rewrite name="marketcliquesubmarket"
      path="/market/{0}/marketcliquesubmarket.aspx"
      pattern = "/market/(\d+)/marketcliquesubmarket.aspx"
      page="/market/marketcliquesubmarket.aspx"
      querystring="mid=$1" />
  <rewrite name="marketcliquebusiness"
      path="/market/{0}/marketcliquebusiness.aspx"
      pattern = "/market/(\d+)/marketcliquebusiness.aspx"
      page="/market/marketcliquebusiness.aspx"
      querystring="mid=$1" />
  <rewrite name="marketcliquepromotions"
      path="/market/{0}/marketcliquepromotions.aspx"
      pattern = "/market/(\d+)/marketcliquepromotions.aspx"
      page="/market/marketcliquepromotions.aspx"
      querystring="mid=$1" />
  <rewrite name="marketbrand"
       path="/market/{0}/brand.aspx"
       pattern = "/market/(\d+)/brand.aspx"
       page="/market/brand.aspx"
       querystring="mid=$1" />
  <rewrite name="marketbrand"
       path="/market/{0}/brand-{1}-{2}-{3}.aspx"
       pattern = "/market/(\d+)/brand-(\w*)-(\w*)-(\w*).aspx"
       page="/market/brand.aspx"
       querystring="mid=$1^msid=$2^sort=$3^page=$4" />
<rewrite name="marketbrandsearch"
    path="/market/{0}/brand-{1}-{2}-{3}-{4}-{5}-{6}.aspx"
    pattern = "/market/(\d+)/brand-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
    page="/market/brand.aspx"
    querystring="mid=$1^msid=$2^sort=$3^page=$4^brand=$5^style=$6^material=$7" />
  <rewrite name="marketbrandlist"
        path="/market/{0}/brand.aspx"
        pattern = "/market/(\d+)/brand.aspx"
        page="/market/brand.aspx"
        querystring="mid=$1^brand=$3" />
  <rewrite name="marketbrandlist2"
        path="/market/{0}/brand-{1}.aspx"
        pattern = "/market/(\d+)/brand-(\d+).aspx"
        page="/market/brand.aspx"
        querystring="mid=$1^brand=$3" />
  <rewrite name="marketproduct"
       path="/market/{0}/product.aspx"
       pattern = "/market/(\d+)*/product.aspx"
       page="/market/product.aspx"
       querystring="mid=$1" />
  <rewrite name="marketproductlistsearch"
			path="/market/{0}/product-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}.aspx"
			pattern = "/market/(\d+)*/product-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
			page="/market/product.aspx"
			querystring="mid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13" />
  <rewrite name="marketnews"
       path="/market/{0}/news.aspx"
       pattern = "/market/(\d+)*/news.aspx"
       page="/market/news.aspx"
       querystring="mid=$1" />
  <rewrite name="marketpromotion"
       path="/market/{0}/promotion.aspx"
       pattern = "/market/(\d+)*/promotion.aspx"
       page="/market/promotion.aspx"
       querystring="mid=$1" />
  <rewrite name="marketaddress"
       path="/market/{0}/address.aspx"
       pattern = "/market/(\d+)*/address.aspx"
       page="/market/address.aspx"
       querystring="mid=$1" />
  <rewrite name="marketbusiness"
       path="/market/{0}/business.aspx"
       pattern = "/market/(\d+)*/business.aspx"
       page="/market/business.aspx"
       querystring="mid=$1" />
  <rewrite name="marketaddresslist"
        path="/market/{0}/address-{1}-{2}.aspx"
        pattern = "/market/(\d+)/address-(\d+)-(\d+).aspx"
        page="/market/address.aspx"
        querystring="mid=$1^brand=$2^page=$3" />
    <rewrite name="MarketInfoPromotions"
    path="/market/{0}/promotions.aspx"
    pattern="/market/(\d+)/promotions.aspx"
    page="/market/promotions.aspx"
    querystring="mid=$1"></rewrite>
    <rewrite name="MarketInfoPromotionsSearch"
    path="/market/{0}/promotions/list/-{1}-{2}-{3}.aspx"
    pattern="/market/(\d+)/promotions/list/-(\w*)-(\w*)-(\w*).aspx"
    page="/market/promotions.aspx"
    querystring="mid=$1^display=$2^brand=$3^page=$4"></rewrite>
    <rewrite name="MarketInfoPromotionsInfo"
    path="/market/{0}/promotions/{1}/info.aspx"
    pattern="/market/(\d+)/promotions/(\d+)/info.aspx"
    page="/market/promotionsinfo.aspx"
    querystring="mid=$1^id=$2"></rewrite>
    <rewrite name="MarketInfoPromotionsInfo2"
    path="/market/{0}/promotions/{1}/info-{2}.aspx"
    pattern="/market/(\d+)/promotions/(\d+)/info-(\w*).aspx"
    page="/market/promotionsinfo.aspx"
    querystring="mid=$1^id=$2^display=$3"></rewrite>

  <rewrite name="promotionlist"
       path="/promotion/list/.aspx.aspx"
       pattern = "/promotion/list.aspx"
       page="/promotion.aspx"
       querystring="" />
  <rewrite name="promotionlistsearch"
         path="/promotion/list/-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}.aspx"
         pattern = "/promotion/list/-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
         page="/promotion.aspx"
         querystring="cid=$1^sid=$2^pid=$3^bid=$4^mkid=$5^area=$6^stime=$7^etime=$8^sort=$9^key=$10^page=$11" />
  <rewrite name="promotioninfo"
        path="/promotion/{0}/info.aspx"
        pattern = "/promotion/(\d+)/info.aspx"
        page="/promotioninfo.aspx"
        querystring="pid=$1" />

  <rewrite name="search"
      path="/search-{0}-{1}.aspx"
      pattern = "/search-(\w*)-(\w*).aspx"
      page="/search.aspx"
      querystring="type=$1^key=$3" />

    <rewrite name="PromotionsList"
    path="/promotions/list.aspx"
    pattern="/promotions/list.aspx"
    page="/promotions.aspx"
    querystring="">
    </rewrite>
    <rewrite name="PromotionsListsearch"
    path="/promotions/list/-{0}-{1}-{2}-{3}-{4}.aspx"
    pattern="/promotions/list/-(\w*)-([^-]*)-([^-]*)-(\w*)-(\w*).aspx"
    page="/promotions.aspx"
    querystring="display=$1^brand=$2^market=$3^area=$4^page=$5">
    </rewrite>
    <rewrite name="PromotionsInfo"
    path="/promotions/{0}/info.aspx"
    pattern="/promotions/(\d+)/info.aspx"
    page="/promotionsinfo.aspx"
    querystring="id=$1">
    </rewrite>
    <rewrite name="NewsList"
     path="/news/list.aspx"
     pattern="/news/list.aspx"
     page="/news.aspx"
     querystring=""></rewrite>
    <rewrite name="NewsListSearch"
    path="/news/list-{0}-{1}.aspx"
    pattern="/news/list-(\w*)-(\w*).aspx"
    page="/news.aspx"
    querystring="display=$1^page=$2"></rewrite>
    <rewrite name="NewsInfo"
    path="/news/{0}/info.aspx"
    pattern="/news/(\d+)/info.aspx"
    page="/newsinfo.aspx"
    querystring="id=$1"></rewrite>



<rewrite name="productlistsearch2"
path="/product/listtbb-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}.aspx"
pattern = "/product/listtbb-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-([^-.]*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
page="/productlisttbb.aspx"
querystring="brand=$1^style=$2^material=$3^spread=$4^color=$5^sort=$6^composing=$7^key=$8^page=$9^type=$10^pcategory=$11^category=$12" />

<rewrite name="productlistsearch3"
path="/product/listtbb2-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}.aspx"
pattern = "/product/listtbb2-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-([^-.]*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
page="/productlisttbb2.aspx"
querystring="brand=$1^style=$2^material=$3^spread=$4^color=$5^sort=$6^composing=$7^key=$8^page=$9^type=$10^pcategory=$11^category=$12^ty=$13" />


<rewrite name="productlistsearch4"
    path="/product/list2-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}.aspx"
    pattern = "/product/list2-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-([^-.]*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
    page="/productlist2.aspx"
    querystring="brand=$1^style=$2^material=$3^spread=$4^color=$5^sort=$6^composing=$7^key=$8^page=$9^type=$10^pcategory=$11^category=$12" />

  <rewrite name="shopn"
       path="/shop{0}/indexn.aspx"
       pattern = "/shop/(\d+)/indexn.aspx"
       page="/shop/indexn.aspx"
       querystring="sid=$1" />


  <rewrite name="shopproducttzh"
       path="/shop/{0}/producttzh.aspx"
       pattern = "/shop/(\d+)/producttzh.aspx"
       page="/shop/producttzh.aspx"
       querystring="sid=$1" />
  <rewrite name="shopproductlistbrandidstzh"
         path="/shop/{0}/producttzh-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}-{14}.aspx"
         pattern = "/shop/(\d+)*/producttzh-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
         page="/shop/producttzh.aspx"
         querystring="sid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14^brands=$15" />
  <rewrite name="shopproductlistposttzh"
         path="/shop/{0}/producttzh-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}.aspx"
         pattern = "/shop/(\d+)*/producttzh-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
         page="/shop/producttzh.aspx"
         querystring="sid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14" />
  <rewrite name="shopproductlisttzh"
         path="/shop/{0}/producttzh-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}.aspx"
         pattern = "/shop/(\d+)*/producttzh-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
         page="/shop/producttzh.aspx"
         querystring="sid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13" />


  <rewrite name="companyproducttzh"
       path="/company/{0}/producttzh.aspx"
       pattern = "/company/(\d+)*/producttzh.aspx"
       page="/company/producttzh.aspx"
       querystring="cid=$1" />
  <rewrite name="companyproductlistbrandidstzh"
       path="/company/{0}/producttzh-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}-{14}.aspx"
       pattern = "/company/(\d+)*/producttzh-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/company/producttzh.aspx"
       querystring="cid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14^brands=$15" />
  <rewrite name="companyproductlistposttzh"
       path="/company/{0}/producttzh-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}-{13}.aspx"
       pattern = "/company/(\d+)*/producttzh-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/company/producttzh.aspx"
       querystring="cid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13^postname=$14" />
  <rewrite name="companyproductlisttzh"
       path="/company/{0}/producttzh-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}.aspx"
       pattern = "/company/(\d+)*/producttzh-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*)-(\w*).aspx"
       page="/company/producttzh.aspx"
       querystring="cid=$1^brand=$2^style=$3^material=$4^spread=$5^color=$6^sort=$7^composing=$8^key=$9^page=$10^type=$11^pcategory=$12^category=$13" />
  
</urls>
