<?xml version="1.0"?>
<WebInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>家具快搜</WebName>
  <WebUrl>http://192.168.1.115:84/</WebUrl>
  <WebSupplerUrl></WebSupplerUrl>
  <WebAdminUrl></WebAdminUrl>
  <WebImgUrl>/upload</WebImgUrl>
  <WebTel>021-0123465</WebTel>
  <WebFax>113333</WebFax>
  <WebEmail>22</WebEmail>
  <WebCrod>33</WebCrod>
  <WebKeywords>44</WebKeywords>
  <WebDescription>555</WebDescription>
  <WebCopyright>aaaaa</WebCopyright>
  <Jtip>127.0.0.1</Jtip>
  <JHost>8060</JHost>
  <CookieUrl>demonew.com</CookieUrl>
  <UserTile>it@fujiawang.com</UserTile>
  <Hashcode>fqAgbQ83</Hashcode>
  <ServiceMail>hejina@jiajuks.com,liujing@jiajuks.com</ServiceMail>
</WebInfo>